<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomenPage</title>
</head>

<body>
    <h1>This is home page</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Id a delectus quos porro, similique veniam illo aperiam,
        dicta autem animi ex. Maiores in, corrupti voluptatibus
        distinctio cum ipsum labore repellendus.
    </p>
    <button>click_me</button>
</body>

</html>